<!doctype html>
<html lang="en-US">
  <%- include("partials/head") %>
  <body>
    <%- include("partials/header") %>
    <% if (!user || !user.member) { %>
      <h1>You need to be a member to see more details</h1>
    <% } %>
    <div class="posts">
      <% posts.forEach(post => { %>
        <div>
          <h2><%= post.title %></h2>
        <% if (user) { %>
          <div class="author">by: <%= `${post.firstname} ${post.lastname}, (${post.username})` %></div>
          <div><%= post.timestamp %></div>
        <% } %>
        <div class="postBody"><%= post.body %></div>
        <% if (user && user.admin) { %>
          <form action="/deletePost/<%= post.id %>" method="post">
            <button type="submit">Delete this post</button>
          </form>
        <% } %>
        </div>
      <% }) %>
    </div>
  </body>
</html>
